*
	box-sizing border-box
.clearfix
	clearfix()
html
	position relative
	height 100%
body
	font 14px "Helvetica Neue", Arial, Helvetica, sans-serif
	line-height 18px
	color #4d4d4d
	font-weight normal
	padding 0 10px
	background-image url("/src/assets/images/timber.jpeg");
	position relative
	height 100%
	padding 0
	margin 0
	clearfix()
*
	box-sizing border-box
a
	text-decoration none
img
	max-width 100%

main
	padding 50px 10px
	overflow-x hidden
	overflow-y hidden
	height 100%
	white-space nowrap
	clearfix()
.desk, .desk-placeholder, .desk-placeholder:hover
	width 270px
	display inline-block
	height 100%
	overflow hidden
	min-height 100px
	background-color #1a1a1a
	box-shadow 1px 1px 1px rgba(0,0,0,.5)
	border-radius 5px
	padding-bottom 20px
	margin-right 30px
	vertical-align top
	.desk-head
		position relative
		padding 5px 8px
		margin-bottom 10px
		clearfix()

.desk-items
  overflow hidden
	overflow-y auto
	height 100%
	width 100%


	padding-bottom 20px
	.placeholder, .placeholder:hover
		height 161px
		background-image url("/src/assets/images/timber.jpeg");

.item
	width 95%
	margin 0 auto 5px
	background #1a1a1a
	min-height 100px
	transition 0.15s
	cursor pointer


	&:hover
	background #1a1a1a
	.foo {
	    transform: translate3d(20px, 20px, 0px);
	}

	.item-container
		padding 10px
		border-bottom 1px solid #dbdbdb
		clearfix()
		.item-avatar-wrap
			width 100px
			float left
			margin-bottom 5px
			img
				width 100px
				height 100px
				display block
				margin 0 auto
				border-radius 100%
				border 1px solid #dbdbdb
		.item-content
			white-space normal
			.item-author
				font-size 16px
				font-weight bolder
			p
				margin 5px 0
